<%= form_for(@credit_item) do |f| %>
  <% if @credit_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@credit_item.errors.count, "error") %> prohibited this credit_item from being saved:</h2>
      <ul>
      <% @credit_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br />
    <%= f.number_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :credit_id %><br />
    <%= f.number_field :credit_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
