<% if notice %>
    <!--<p id = "notice"><%=  notice %></p>-->
    <% end %>
<div id="main">
  <% @products.each do |product| %>
      <div class ="entry">
        <b><%= product.title %></b><br />
        <%= image_tag(product.image_url) %> <br />
       <b style="color:#1a1f80;font-size: 12px"><%=number_to_currency (product.buy_price) %></b>
        <%= button_to 'Trade for Credit', credit_items_path(product_id: product), remote: true %>
      </div>
  <% end %>
</div>


